:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

fieldset {
  border: 1px solid #ccc;
  max-width: 30em;
  margin: 0 auto;
  padding: 0 1em 1em;
}

label {
  display: block;
  margin: .5em 0;
}

input, textarea {
  display: block;
  width: 100%;
  font-size: 1.25em;
  padding: .25em;
}

.error-message {
  min-height: 2ch;
  color: red;
}

input[type="submit"] {
  margin-top: 1em;
  cursor: pointer;
}
